# MovieLens 数据分析（SQL in Python 环境）

In [ ]:
import pandas as pd
import sqlite3

# 加载数据
movies_df = pd.read_csv("movies.csv")
ratings_df = pd.read_csv("ratings.csv")

# 创建内存数据库
conn = sqlite3.connect(":memory:")

# 写入数据库
movies_df.to_sql("movies", conn, index=False, if_exists="replace")
ratings_df.to_sql("ratings", conn, index=False, if_exists="replace")

## 任务一：平均得分前10的电影

In [ ]:
query1 = '''
SELECT 
    m.title,
    AVG(r.rating) AS avg_rating
FROM 
    ratings r
JOIN 
    movies m ON r.movieId = m.movieId
GROUP BY 
    m.title
ORDER BY 
    avg_rating DESC
LIMIT 10;
'''
pd.read_sql_query(query1, conn)

## 任务二：每个类型的平均得分前10的电影（Python 拆分类型）

In [ ]:
merged_df = pd.merge(ratings_df, movies_df, on="movieId")
merged_df['genres'] = merged_df['genres'].str.split('|')
genre_df = merged_df.explode('genres')

genre_df.to_sql("genre_expanded", conn, index=False, if_exists="replace")

query2 = '''
SELECT 
    genres AS genre,
    title,
    AVG(rating) AS avg_rating
FROM 
    genre_expanded
GROUP BY 
    genre, title
ORDER BY 
    genre, avg_rating DESC
'''
pd.read_sql_query(query2, conn)

## 任务三：每个用户评分最高的前5类型

In [ ]:
query3 = '''
WITH genre_avg AS (
    SELECT 
        userId,
        genres AS genre,
        AVG(rating) AS avg_rating
    FROM 
        genre_expanded
    GROUP BY 
        userId, genre
),
ranked AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY userId ORDER BY avg_rating DESC) AS rank
    FROM genre_avg
)
SELECT userId, genre, avg_rating
FROM ranked
WHERE rank <= 5
'''
pd.read_sql_query(query3, conn)

## 任务四：每个用户观影次数最多的前5类型

In [ ]:
query4 = '''
WITH genre_counts AS (
    SELECT 
        userId,
        genres AS genre,
        COUNT(*) AS view_count
    FROM 
        genre_expanded
    GROUP BY 
        userId, genre
),
ranked AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY userId ORDER BY view_count DESC) AS rank
    FROM genre_counts
)
SELECT userId, genre, view_count
FROM ranked
WHERE rank <= 5
'''
pd.read_sql_query(query4, conn)